fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
pandas
scikit-learn
xgboost
scipy
numpy
joblib
httpx
beautifulsoup4
lxml
fake-useragent
tenacity
alembic
annotated-doc
rapidfuzz
numpyencoder
jinja2
